- @page_title = "Brisanje pjesama"

%table.uploaded
  %caption Dosad učitane pjesme
  - Audio.all.each do |audio|
    %tr
      %th= audio.title
      - audio.filenames.each do |filename|
        %td= filename
      %td= delete_button "Izbriši", audio_path(audio)
