%h1= Content.find_by_content_type('news').text

- buttons({add: 'Dodaj +'}, '/news/new') if logged_in?

- News.order('created_at DESC').limit(5).each do |news|
  %article
    %time{datetime: news.created_at.to_s(:time_tag), pubdate: true}= news.created_at.to_s(:cro)
    = render_markdown(news.text)

    - buttons({edit: 'Izmjeni', delete: 'Izbriši'}, "/news/#{news.id}") if logged_in?

%p
  %a{href: '/arhiva'} Arhiva vijesti
  %a.arrow{href: '/arhiva'} →
