%article{id: string_to_id(@title)}

  %header
    %h1= @title

  .inner

    - Activity.each do |activity|
      %article
        %header
          %h1= activity.year
        = BlueCloth.new(activity.things).to_html
