%article{id: string_to_id(@title)}

  %h1= @title

  .inner

    %a.add{href: '/activity/new'} Dodaj +

    - Activity.order(:year.desc).each do |activity|
      %section
        %h1= activity.year
        = BlueCloth.new(activity.things).to_html
        %a.edit{href: "/activity/#{activity.id}"} Izmjeni
