%article{id: string_to_id(@title)}
  %header
    %h1= @title
  :ruby
    case @title
    when 'Povijest zbora'
      haml_tag :img, {src: 'images/povijest_zbora.jpg', alt: 'zbor', width: '240', height: '162'}
    when 'Biografija dirigenta'
      haml_tag :img, {src: 'images/biografija_dirigenta.jpg', alt: 'jurica petar petraÄ', width: 158, height: 108}
    end
  = render_markdown Content[:title => @title].body
  %a.edit{href: "/content/#{Content[:title => @title].id}"} Izmjeni
