%article{id: string_to_id(@title)}
  %header
    %h1= @title

  - for voice in Member.voices
    %p= voice.capitalize
    %ul.members
      = list_of Member.by_voice(voice).order(:last_name) do |member|
        = member

  %a.edit{href: '/members'} Izmjeni
