- if logged_in?
  - add_button('/news/new')

- News.order(:created_at.desc).each do |news|
  %article
    %time{datetime: news.created_at, pubdate: true}= news.created_at.to_s(:cro)
    = render_markdown(news.text)
    - if logged_in?
      - edit_delete_buttons("/news/#{news.id}")

%p
  %a{href: '/arhiva'} Arhiva vijesti
  %a.arrow{href: '/arhiva'} ▶
