- if logged_in?
  - add_button('/news/new')

- News.order(:created_at.desc).each do |news|
  %article
    %time{datetime: news.created_at, pubdate: true}= news.created_at.to_s(:cro)
    = render_markdown(news.text)
    - buttons({:edit => true, :delete => true}, "/news/#{news.id}") if logged_in?

%p
  %a{href: '/arhiva'} Arhiva vijesti
  %a.arrow{href: '/arhiva'} ▶
