- @content = OtherContent[@content.content_id]
- @photo = Fleakr::Objects::Photo.find_by_id(@content.photo_id).send(nearest_size(@content.photo_size))
- @photo_width, @photo_height = @content.photo_size.split('x')
%article{id: string_to_id(@content.title)}
  %header
    %h1= @content.title
  - @last = @content.body.split("\n\n").length
  - @content.body.split("\n\n").each_with_index do |paragraph,index|
    - if index + 1 == @content.photo_paragraph
      %img{src: @photo.url, alt: @content.photo_alt, height: @photo_height, width: @photo_width}
    = render_markdown(paragraph + ((index + 1 != @last) ? "\n\n" : ''))
  - if logged_in?
    - edit_button("/content/#{@content.id}")
    - delete_button("/content/#{@content.id}")
