%article#members
  %header
    %h1 Članovi zbora
  - %w[soprani alti tenori basi].each do |voice|
    %section
      %h2= voice.capitalize
      %ol
        = list_of members.by_voice(voice) do |member|
          = member

