- @page_title = 'Provjera'

- form_tag(action: "/#{@type}/#{@id}", method: 'delete', class: 'confirm') do
  %p Jeste li sigurni?
  %input{type: 'submit', value: 'Da'}
  %a{href: URI.parse(request.referrer).path} Ne
