- @page_title = 'Content'

- if logged_in?
  - action = @content.id ? "/content/#{@content.id}" : '/content/new'
  - method = @content.id ? 'put' : 'post'
  - form_tag(action: action, method: method) do
    %input{type: 'text', name: 'title', value: @content.title}
    %textarea{type: 'text', name: 'body', rows: 15, cols: 100, style: 'display: block'}= @content.body
    %input{type: 'submit', name: 'action', value: 'Izmjeni'}
    %input{type: 'submit', name: 'action', value: 'Odustani'}
  - button(action: "/content/#{@content.id}", method: 'delete', value: 'Izbriši') unless @content.id == 1
  - haml_tag(:p, @error) if @error
