-# encoding:utf-8
- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

- unless logged_in?
  %p#login
    %a{href: '/login'} Prijava
- else
  - button(action: '/logout', method: 'post', value: 'Odjava', id: 'logout')

%section#intro

  %header
    %h1= Content.first.title

  .inner

    %article.main
      %img{src: '/images/capella_juris.jpg', alt: 'capella juris', width: '269', height: '180'}
        = BlueCloth.new(Content.first.body).to_html
      %p
        %a{href: '/o_nama'} Opširnije
        %a.arrow{href: '/o_nama'} ▶

      - button(action: '/content/1', value: 'Izmjeni') if logged_in?

    %aside

      :ruby
        @object_width = '300'
        @video_height = '180'
        @audio_height = '27'

      %article

        %header
          %h1 Makedonska humoreska

        %object{width: @object_width, height: @video_height}
          %param{name: 'movie', value: 'http://www.youtube.com/v/FAi48kKVTS4?fs=1&amp;hl=en_US'}
          %param{name: 'allowFullScreen', value: 'true'}
          %param{name: 'allowscriptaccess', value: 'always'}
          %embed{src: 'http://www.youtube.com/v/FAi48kKVTS4?fs=1&amp;hl=en_US', type: 'application/x-shockwave-flash', allowscriptaccess: 'always', width: @object_width, height: @video_height}

      %article

        %header
          %h1 Makedonsko devojče

        %audio{src: '/audio/makedonsko_devojce.mp3', controls: true}

        %object.flash{width: @object_width, height: @audio_height}
          %param{name: 'flashvars', value: 'audioUrl=/audio/makedonsko_devojce.mp3'}
          %param{name: 'src', value: 'http://www.google.com/reader/ui/3523697345-audio-player.swf'}
          %param{name: 'quality', value: 'best'}
          %embed{type: 'application/x-shockwave-flash', flashvars: 'audioUrl=/audio/makedonsko_devojce.mp3', src: 'http://www.google.com/reader/ui/3523697345-audio-player.swf', width: @object_width, height: @audio_height, quality: 'best'}

%section.news

  %header
    %h1 Vijesti

  = haml :'partials/posts'

  %p.arrow
    %a{href: '/arhiva'} Arhiva vijesti
    %a.arrow{href: '/arhiva'} ▶
