- @page_title = "Izmjeni post"

%section.news

  %form{action: "/#{@post.id}", method: 'post'}
    %input{type: 'hidden', name: '_method', value: 'put'}
    %article
      %header.x
        %hgroup
          %input{type: 'text', name: 'title', value: "#{@post.title}"}
          %br
          %input{type: 'text', name: 'subtitle', value: "#{@post.subtitle}"}
      %textarea{type: 'text', name: 'body', rows: 15, cols: 100}= @post.body
      %br
      %input{type: 'submit', value: 'Spremi promjene'}
      %a{href: '/index'}
        %input{type: 'submit', value: 'Odustani'}
