- @page_title = 'Prijava'

- form_tag(action: '/login', method: 'post', id: 'login') do
  %p
    %label{for: 'login-username'} Korisničko ime
    %input#login-username{type: 'text', name: 'username', maxlength: 30, autofocus: true}
  %p
    %label{for: 'login-password'} Lozinka
    %input#login-password{type: 'password', name: 'password', maxlength: 30}
  %p
    %input.submit{type: 'submit', value: 'Prijava'}

- if @error
  %p.error= @error
