- @page_title = 'Prijava'

- form_tag(action: '/login', method: 'post') do
  %p
    %label{for: 'username'} Korisničko ime:
    %input#username{type: 'text', name: 'username', maxlength: '30'}
  %p
    %label{for: 'password'} Lozinka:
    %input#password{type: 'password', name: 'password', maxlength: '30'}
  %p
    %input{type: 'submit', value: 'Prijava'}
%p= @message
