- @page_title = 'O nama'

%section.about

  %article.povijestzbora
    
    %header
      %h1 Povijest zbora
    
    %p Capella juris je zbor Pravnog fakulteta Sveučilišta u Zagrebu, osnovan u svibnju 2006. na inicijativu prof. <strong>Josipovića</strong> i prof. <strong>Wolfganga Ruscha</strong>, koji je zbor vodio prve dvije godine. Repertoar zbora je raznolik te se sastoji od renesansnih madrigala do suvremene glazbe, od hrvatske i europske narodne glazbe do jazza.
    
    %img.intext{src: 'images/povijest_zbora.jpg', alt: 'zbor', alt: 'capella juris', width: '250', height: '168'}
    
    %p Zbor se sastoji od 58 studentica, studenata i prijatelja Pravnog fakulteta Sveučilišta u Zagrebu te nastupa na promocijama diplomanata, ali i svim važnijim manifestacijama vezanim uz fakultet. Tako je, između ostalog, nastupao u Hrvatskom narodnom kazalištu prilikom obilježavanja 230 godina Pravnog fakulteta u Zagrebu, prilikom posjeta povjerenika Europske Unije za proširenje, gospodina Olia Rehna, te za Zakladu Zlatko Crnić u Hrvatskoj odvjetničkoj komori.
      
    %p Iza Capelle juris stoji natjecanje i četiri vrlo uspješna samostalna koncerta.
    
    %p Prvi, božićni koncert, &#8220;<strong>Magnificat anima mea Dominum</strong>&#8221;, uz pratnju Hrvatskog baroknog ansambla održan je 2006. koji je obuhvaćao barokne božićne skladbe. Sljedeće godine, 2007., održana su dva božićna koncerta, u Varaždinu i Zagrebu, pod nazivom &#8220;<strong>Gloria in excelsis Deo</strong>&#8221;, u pratnji gudačkog kvarteta Rucner, a sastojali su se od europske narodne božićne glazbe. Godine 2008. zbor je sudjelovao na 9. natjecanju amaterskih pjevačkih zborova u Zagrebu, gdje je u Hrvatskom glazbenom zavodu osvojio brončanu plaketu. 25. studenog 2008. zbor je održao i koncert &#8220;<strong>Omnia vincit Amor!</strong>&#8221;, svojevrsnu posvetu ljubavi kroz raznolike glazbene oblike, a mjesec dana kasnije sad već i tradicionalni, božićni koncert pod nazivom &#8220;<strong>Bog se rodi v Vitliomi</strong>&#8221;, koji se sastojao od niza (relativno nepoznatih) hrvatskih božićnih napjeva, uz gostovanje tenora Hrvoja Meštrova.
      
    %p Voditelj zbora od 2008. godine je mlad i perspektivan prof. <strong>Jurica Petar Petrač</strong>.
    
  %article.biografijadirigenta#jurica
    
    %header
      %h1 Biografija dirigenta
    
    %img.intext{src: 'images/biografija_dirigenta.jpg', alt: 'dirigent jurica petar petrač', alt: 'jurica petar petrač', width: '137', height: '87'}
    
    %p Jurica Petar Petrač, prof. (Zagreb, 1985.) se nakon završene opće gimnazije <a href='http://www.gimnazija-osma-tbrezovackog-zg.skole.hr/'>Tituš Brezovački</a> i srednje glazbene škole <a href='http://www.glazbena-bberse-zg.skole.hr/index.shtml'>Blagoje Bersa</a> upisuje na studij glazbene teorije Muzičke akademije Sveučilišta u Zagrebu, diplomiravši u veljači 2009. godine. Istovremeno upisuje i studij Povijesti umjetnosti te Etnologije i kulturne antropologije na Filozofskom fakultetu u Zagrebu. Sa 17 godina osniva i Mješoviti pjevački zbor &#8220;Capella miércoles&#8221;, koji djeluje u crkvi sv. Kvirina na Pantovčaku. Od 2008. godine, nakon prvobitnog pjevačkog sudjelovanja, postaje glazbeni voditelj zbora &#8220;Capella juris&#8221;, a od 2011. glazbeni voditelj oratorijskog zbora crkve sv. Marka u Zagrebu, &#8220;Cantores Sancti Marci&#8221;.
    
  %article.clanovizbora
    
    %header
      %h1 Članovi zbora
      
    :ruby
      @members = {'male' => [], 'female' => []}
      
    %ul.members
      %li.first Soprani
      %li	Alisa Besek
      %li	Ana Miletić
      %li	Ana Vlašić
      %li Ana Zavada
      -# %li	Ana Zorić Dodig
      %li	Anja Juršetić
      %li	Barbara Bogojević
      %li	Daria Dubajić
      %li	Ines Malenica
      %li	Ivana Peulić
      %li	Ivana Radman
      %li	Katarina Sabljić
      %li	Klara Marinčević
      %li	Kristina Gotvald
      -# %li	Laura Horvat
      %li	Lidija Živković
      %li	Marija Ercegovac
      %li	Marija Vučurević
      %li	Mia Nazalević
      %li	Mirjana Vladić
      %li	Nikolina Hržina
      %li	Veronika Veršić 
      %li Vesna Juretić
      %li Vinka Lozica
      %li.last Zrinka Marija Krnjak
      
    %ul.members
      %li.first Alti
      %li Ana Lukac
      %li Ana Mažuranić
      %li Ana Zidar
      -# %li Antonija Sviben
      %li Barbara Pavlek
      %li Daria Kolezarić
      %li Darja Petro
      %li Dina Jularić
      %li Ingrid Marman
      %li Iva Bojanovsky
      %li Jelena Pepelnik
      %li Lucija Petrač
      -# %li Martina Rep
      %li Mirjana Martinković 
      %li Mirna Radosavljević
      %li Nikol Namjesnik
      %li Nikolina Zlopaša
      %li Rafaela Tripalo
      -# %li Sandra Rudelić
      %li Valentina Samardžija
      %li.last Vida Brezak
      
    %ul.members
      %li.first Tenori
      %li Bartul Marušić
      %li Davor Krnjak
      %li Davor Kutnjak
      -# %li Josip Pavlović
      %li Matija Marohnić
      %li Tomislav Krnjak
      %li.last Vedran Klisarić
      
    %ul.members
      %li.first Basi
      %li Dragutin Brezak
      %li Emil Rekić
      %li Emilio Nuić
      %li Ivan Fabris
      %li Juraj Gorupec
      %li Jure Perić
      %li Marko Ivanov
      %li Nino Kovačić
      %li Petar Brkić
      %li Roko Perić
      %li Tomislav Miljak
      %li.last Vlaho Komparak
      
  %article.aktivnosti
    
    %header
      %h1 Aktivnosti
      
    %ol.activities{start: '2006'}
      %li
        %ol
          %li Nastup na svečanosti obilježavanja <strong>230 godina Pravnog fakulteta</strong> Sveučilišta u Zagrebu <span class='meta'>(6. studenog, HNK Zagreb)</span>
          %li &#8220;<strong>Magnificat anima mea dominum!</strong>&#8221;, koncert Capelle juris uz pratnju <a href='http://www.hrba.hr/hr/'>Hrvatskog baroknog ansambla</a> <span class='meta'>(21. prosinca, Crkva Sv. Franje Asiškog, Zagreb)</span>
        
      %li
        %ol
          %li Nastup Capelle juris na <strong>svečanoj konferenciji</strong> gdje je Olli Rehn, povjerenik za proširenje u Europskoj komisiji, održao predavanje &#8220;Generacija Europa: Regionalna konferencija mladih&#8221; <span class='meta'>(11. svibnja, Pravni fakultet, Zagreb)</span>
          %li &#8220;<strong>Advent u Varaždinu</strong>&#8221;, koncert zbora Capella juris i <a href='http://www.rucner-string-quartet.com/'>gudačkog kvarteta Rucner</a> <span class='meta'>(18. prosinca, crkva Sv. Nikole, Varaždin)</span>
          %li &#8220;<strong>Gloria in excelsis Deo</strong>&#8221;, europska glazba za Božić, Capella juris i gudački kvartet Rucner <span class='meta'>(19. prosinca, crkva Sv. Franje Asiškog u Zagrebu)</span>
        
      %li
        %ol
          %li <strong>9. Natjecanje pjevačkih zborova</strong> Zagreb, 2008., Podij zagrebačkih glazbenih amatera &ndash; <span class='award'>brončana plaketa</span> <span class='meta'>(3. svibnja, Hrvatski glazbeni zavod, Zagreb)</span>
          %li &#8220;<strong>Omnia vincit amor</strong>&#8221;, koncert Capelle juris <span class='meta'>(25. studenog, Preporodna dvorana HAZU)</span>
          %li &#8220;<strong>Bog se rodi v Vitliomi</strong>&#8221;, 22. prosinca <span class='meta'>(Crkva Sv. Franje Asiškog)</span>
      
      %li
        %ol
          %li &#8220;<strong>Amans amens</strong>&#8221;, svečani koncert povodom 3. rođendana Capelle juris <span class='meta'>(20. svibnja, muzej Mimara)
          %li <strong>Smotra amaterskih zborova grada Zagreba</strong> <span class='meta'>(24. svibnja, Dom kulture Prečko)</span>
          %li Nastup Capelle juris na <strong>Dobro jutro Hrvatska</strong> <span class='meta'>(23. lipnja, studio HRT-a, Zagreb)</span>
          %li <strong>Ohrid Choir Festival</strong>, natjecanje pjevačkih zborova <span class='meta'>(28.8&ndash;1.9., Makedonija)</span> &ndash; <span class='award'>brončana plaketa</span>
          %li Nastup u <strong>Hrvatskoj odvjetničkoj komori</strong> povodom predstavljanja knjige odvjetnika Srećka Ilića <span class='meta'>(12. studenog, Hrvatski odvjetnički dom, Zagreb)</span>
          %li &#8220;<strong>Ceremony of Carols</strong>&#8221;, božićni koncert Capelle juris <span class='meta'>(21. prosinca, Crkva Sv. Franje Asiškog, Zagreb)</span>
      
      %li
        %ol
          %li <strong>10. Natjecanje pjevačkih zborova Zagreb 2010.</strong>, Zagrebački glazbeni podij Centra za kulturu &#8220;Trešnjevka&#8221; <span class='meta'>(17. travnja, Koncertna dvorana Vatroslava Lisinskog, Zagreb)</span> &ndash; <span class='award'>srebrna plaketa</span>
          %li &#8220;<strong>Praga Cantat</strong>&#8221;, Natjecanje pjevačkih zborova <span class='meta'>(27.10&ndash;31.10., Češka)</span> &ndash; <span class='award'>srebrna plaketa</span> i <span class='award'>posebna nagrada žirija za najbolju izvedbu suvremene kompozicije</span> (I. Kuljerić, Crn-bel)
          %li <strong>Svečana akademija</strong> povodom 20. obljetnice donošenja Ustava Republike Hrvatske i 60. obljetnice potpisivanja Konvencije za zaštitu ljudskih prava i temeljnih sloboda, nastup Capelle juris <span class='meta'>(10. prosinca, Hrvatski sabor, Zagreb)</span>
          %li &#8220;<strong>Misa Criolla</strong>&#8221;, božićni koncert Capelle juris uz gostovanje ansambla <a href='http://fotozine.org/?knjiga=galerije&poglavlje=2601&list=14559&element=242906'>Ayllu</a>, klaviristice <a href='http://www.miniature-piano.com/video/Iva+Ljubi%C4%8Di%C4%87/'>Ive Ljubičić</a> i tenora <a href='http://www.hnk.hr/hr/opera/ansambl/solisti_opere/domagoj_dorotic'>Domagoja Dorotića</a> <span class='meta'>(21. prosinca, Crkva Sv. Katarine u Zagrebu)</span>
      
      %li
        %ol
          %li <strong>Akademska donatorska večer</strong> pod pokroviteljstvom predsjednika Republike Hrvatske, Ive Josipovića <span class='meta'>(17. siječnja, studentski Kampus na Borongaju, Zagreb)</span>
          %li Nastup Capelle u ciklusu koncerata klasične glazbe &#8220;<strong>Night in Paris</strong>&#8221; <span class='meta'>(24. ožujka, mala dvorana Vatroslav Lisinski)</span>
          %li <strong>Rođendanski koncert</strong> Capelle juris, francuske šansone skladatelja Ravel, Debussy i Poulenc <span class='meta'>(13. svibnja, Preporodna dvorana HAZU)</span>
          
          -# TODO:
          -#
          -# istraziti goste od Ceremony of Carols
