-# encoding:utf-8
- @page_title = 'O nama'

.spacer

:ruby
  Order.order(:order).each do |article|
    @title = article.title
    unless @title == 'Aktivnosti' or @title == 'Članovi zbora'
      puts haml :'partials/contents'
    else
      if @title == 'Aktivnosti'
        puts haml :'partials/activities'
      else
        puts haml :'partials/members'
      end
    end
  end
