- @page_title = 'O nama'

- Content.by_page('/o_nama').order(:order_no).each do |content|
  = render_partial content.content_type, locals: {content: content}

- buttons({add: 'Dodaj +'}, '/content/new') if logged_in?
