- @page_title = "Post"

%section.news

  %form{action: "/edit/", method: 'post'}
    %input{type: 'hidden', name: '_method', value: 'put'}
    %input{type: 'hidden', name: 'id', value: "#{@post.id}"}
    %article
      %header.x
        %hgroup
          %input{type: 'text', name: 'title', value: "#{@post.title}"}
          %br
          %input{type: 'text', name: 'subtitle', value: "#{@post.subtitle}"}
      %textarea{type: 'text', name: 'body', rows: 15, cols: 100}= @post.body
      %input{type: 'submit', value: 'Spremi'}
      %a{href: '/index'}
        %input{type: 'submit', value: 'Odustani'}
