- @page_title = "Post"

- if logged_in?
  %section.news
    - form_tag(action: "/edit_post/#{session[:post].id || 'new'}", method: 'post') do
      %article
        %header.x
          %hgroup
            %input{type: 'text', name: 'title', value: session[:post].title}
        %textarea{type: 'text', name: 'body', rows: 15, cols: 100, style: 'display: block'}= session[:post].body
        %input{type: 'submit', name: 'action', value: 'Spremi'}
        %input{type: 'submit', name: 'action', value: 'Odustani'}
    - haml_tag :p, session[:error] if session[:error]
