- @page_title = 'Slike'

.spacer

%ul#photos
  = list_of(Fleakr.user('janko.marohnic@gmail.com').sets.first.photos) do |photo|
    - @photo = photo.largest
    %img{src: @photo.url, alt: photo.title, width: @photo.width, height: @photo.height}

%p#top
  %a{href: '#'} Povratak na vrh
  %a.arrow{href: '#'} ▲
