- @page_title = 'Slike'

%ul#photos
  = list_of(Dir['public/images/galerija/*']) do |photo|
    %img{src: photo.sub(/public\//,''), alt: photo.match(/\/([^\/]+)$/)[0]}

%p#top
  %a{href: '#'} Povratak na vrh
  %a.arrow{href: '#'} ▲
