- @page_title = 'Slike'

#photos

  %ul
    = list_of(Dir['public/images/galerija/*']) do |photo|
      %img{src: photo.match(/^public\/(.+)$/)[1], alt: photo.match(/([^\/\.]+)\.\w{3}$/)[1]}

  %p#top
    - link_to 'Povratak na vrh ↑', '#'
