- @page_title = 'Slike'
- @image_src = 'images/galerija/1.jpg'

%section.photos

  %ul
    - for i in (1..19) do
      %li
        %img{:src => "images/galerija/#{i}.jpg"}
        
  %p.arrow.top
    <a href='#'>Povratak na vrh</a> ▲