- @page_title = 'Video'

- @object_width = 480
- @video_height = 385

%section.videos
  %ul

    %li
      %article
        %header
          %h1 Ohridski zborski festival &ndash; Makedonska humoreska
        %iframe{title: 'YouTube video player', width: 560, height: 349, src: 'http://www.youtube.com/embed/FAi48kKVTS4', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 Dobro jutro Hrvatska &ndash; Čardaš iz Međimurja
        %iframe{title: 'YouTube video player', width: 425, height: 349, src: 'http://www.youtube.com/embed/70aYBGv0rhU', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 Nastup u Hrvatskom Saboru
        %iframe{title: 'YouTube video player', width: 425, height: 349, src: 'http://www.youtube.com/embed/wzpqKWEn_v0', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 Promocija u Lisinskom &ndash; U boj, u boj!
        %iframe{title: 'YouTube video player', width: 560, height: 349, src: 'http://www.youtube.com/embed/SGEXnxxH4GM', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 10. natjecanje zborova &ndash; Jesu dulcis
        %iframe{title: 'YouTube video player', width: 560, height: 349, src: 'http://www.youtube.com/embed/lcq21Oe0iQA', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 Praga Cantat &ndash; Napadly pisne
        %iframe{title: 'YouTube video player', width: 560, height: 349, src: 'http://www.youtube.com/embed/jxjufTatTec', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 Misa Criolla &ndash; La peregriacion
        %iframe{title: 'YouTube video player', width: 560, height: 349, src: 'http://www.youtube.com/embed/kG2Ww4baGyo', frameborder: 0, allowfullscreen: true}

    %li
      %article
        %header
          %h1 Misa Criolla &ndash; Gloria
        %iframe{title: 'YouTube video player', width: 560, height: 349, src: 'http://www.youtube.com/embed/Bo3OhSP6OW8', frameborder: 0, allowfullscreen: true}

