- @page_title = 'Video'

%ul#videos

  = list_of(Video.all) do |video|
    %h1= video.title
    = video.url
    .center
      - buttons({delete: 'Izbriši', edit: 'Izmjeni'}, "/video/#{video.id}") if logged_in?

  - buttons({add: 'Dodaj +'}, '/video/new') if logged_in?
