- @page_title = "Slike"

#slike
  %ul
    = list_of(@photos) do |photo|
      = image_tag photo

  %p#top= link_to "Povratak na vrh ↑", "#"

  - if admin_logged_in?
    = link_to "Flickr", delete_photo_cache_path, :method => :delete, :class => "reload"
