- @page_title = "Slike"

%ul#slike
  = list_of(@photos) do |photo|
    = image_tag photo

%p#top= link_to "Povratak na vrh ↑", "#"

- if admin_logged_in?
  %p= link_to "Učitaj promjene sa Flickra", delete_photo_cache_path, :method => :delete
