$base-font-size: 14px
$base-line-height: 18px
$relative-font-sizing: false

$icon-spacing: 1px

@import compass
@import compass/reset
@import compass/layout

=button($float-dir: left, $after: true)
  display: block
  float: $float-dir
  +rhythm-borders(1px, 0.5)
  background-color: darken(white, 5%)
  border-color: darken(white, 25%)
  color: lighten(black, 40%)
  @if $after
    & + *
      clear: $float-dir
  &:hover
    background-color: darken(white, 7%)
    border-color: darken(white, 40%)
    color: lighten(black, 30%)

=form-text
  +rhythm-borders(1px, 0.5)
  display: block
  border-color: darken(white, 40%)
  color: lighten(black, 20%)

@import icon/*.png

@import partials/layout
@import partials/typography
@import partials/colors
@import partials/admin
@import partials/editor
