- @page_title = "Flickr je neaktivan"

%h1 Flickr je neaktivan
%p Flickr je bio predugo neaktivan. Ništa strašno, ovo se može dogoditi ako ti je internet trenutno malo sporiji, ili ako Flickr trenutno ima problema. Probaj ponovo.
