- @page_title = 'Provjera'

- form_tag(action: request.path_info, method: 'delete', class: 'confirm') do
  %p Jeste li sigurni?
  %input{type: 'submit', name: 'confirmation', value: 'Da'}
  %a{href: URI.parse(request.referrer).path} Ne
