- @page_title = 'Potvrda'

- form_tag(action: request.path_info, method: 'delete', class: 'confirm') do
  %ol
    %li
      %p Jeste li sigurni?
    %li
      %input.submit{type: 'submit', name: 'confirmation', value: 'Da'}
    %li
      %a.cancel{href: previous_page} Ne
