- @page_title = 'Izmjena sadržaja stranice'

- action = @content.id ? "/content/#{@content.id}" : '/content/new'
- method = @content.id ? 'put' : 'post'

%section.post
  - form_tag(action: action, method: method) do
    %input{type: 'text', name: 'title', value: @content.title}
    %textarea{type: 'text', name: 'body', rows: 15, cols: 100}= @content.body
    %input{type: 'submit', name: 'action', value: 'Spremi'}
    %input{type: 'submit', name: 'action', value: 'Odustani'}
  - unless @content.id == 1 or @content.id == nil
    - button(action: "/content/#{@content.id}", method: 'delete', value: 'Izbriši')
  - if @error
    %p= @error
