- @page_title = "Izmjena sadržaja"

- @page_url = request.path_info
- @method = (@page_url.split('/')[1] == 'intro' && 'put') || (@content.id ? 'put' : 'post')
- form_tag(action: @page_url, method: @method) do
  %input{type: 'text', name: 'title', autofocus: @content.title == nil, value: @content.title}
  %textarea{type: 'text', name: 'body', rows: 15, cols: 100, autofocus: @content.title != nil}
    = preserve @content.body
  - if ['other_content', 'intro'].include? @page_url.split('/')[1]
    %input{type: 'text', name: 'photo_id', class: error?(:photo_id) && 'error', value: @content.photo_id}
    %input{type: 'text', name: 'photo_alt', class: error?(:photo_alt) && 'error', value: @content.photo_alt}
    %input{type: 'text', name: 'photo_size', class: error?(:photo_size) && 'error', value: @content.photo_size}
  - if @page_url.split('/')[1] == 'other_content'
    %input{type: 'text', name: 'photo_float', class: error?(:photo_float) && 'error', value: @content.photo_float}
    %input{type: 'text', name: 'photo_paragraph', class: error?(:photo_paragraph) && 'error', value: @content.photo_paragraph}
  - if @page_url.split('/')[1] == 'intro'
    %input{type: 'text', name: 'video_title', value: @content.video_title}
    %input{type: 'text', name: 'video_url', value: @content.video_url}
    %input{type: 'text', name: 'audio_title', value: @content.audio_title}
    %input{type: 'text', name: 'audio_url', class: error?(:audio_url) && 'error', value: @content.audio_url}

  %input{type: 'submit', name: 'action', value: 'Spremi'}
  %input{type: 'submit', name: 'action', value: 'Odustani'}

- @content.errors.each_value do |value|
  - value.each do |error|
    %p= error
