- @page_title = 'Izmjena članova zbora'

- session[:members_to_create] = [] if session[:members_to_create] == nil
- session[:members_to_delete] = [] if session[:members_to_delete] == nil

- for voice in Member.voices
  %p= voice.capitalize
  %ul.members
    - for member in Member.by_voice(voice).order(:last_name)
      - unless session[:members_to_delete].include? member.id
        %li
          = member
          - delete_button("/member/#{member.id}")

  - form_tag(action: '/member/new', method: 'put') do
    %input{type: 'text', name: 'first_name'}
    %input{type: 'text', name: 'last_name'}
    %input{type: 'hidden', name: 'voice', value: voice}
    %input{type: 'submit', value: 'Dodaj'}

- form_tag(action: '/members', method: 'put') do
  %input{type: 'submit', name: 'action', value: 'Spremi promjene'}
  %input{type: 'submit', name: 'action', value: 'Odustani'}
