- @page_title = 'Izmjena članova zbora'

- for voice in Member.voices
  %p= voice.capitalize
  %ul.members
    - for member in Member.by_voice(voice).order(:last_name)
      %li
        = member
        - delete_button("/member/#{member.id}", 'x')
    %li
      - form_tag(action: '/member/new', method: 'post') do
        %input{type: 'text', name: 'first_name'}
        %input{type: 'text', name: 'last_name'}
        %input{type: 'hidden', name: 'voice', value: Member::VOICES.key(voice)}
        %input{type: 'submit', value: 'Dodaj'}

%a{href: "/#{Content[type: 'members'].page}"} Završi
