- @page_title = 'Izmjena stranica'

- form_tag(action: request.path_info, method: 'post') do
  %p
    %label{for: 'page-name'} Ime stranice
    %input#page-name{type: 'text', name: 'cro_name', value: @page.cro_name}
  %p
    %input.submit{type: 'submit', value: 'Spremi'}
    - link_to 'Odustani', session[:referrer], class: 'cancel'

- @page.errors.each do |attr, msg|
  %p.error= msg
