- @page_title = 'Izmjena sadržaja'

- form_tag(action: request.path_info, method: 'put') do
  %p
    %label{for: 'sidebar-video-title'} Video naslov
    %input#sidebar-video-title{type: 'text', name: 'sidebar[video_title]', value: @sidebar.video_title}
  %p
    %label{for: 'sidebar-video-code'} Video kod
    %input#sidebar-video-code{type: 'text', name: 'sidebar[video]', value: @sidebar.video}
  %p
    %label{for: 'sidebar-audio-title'} Audio naslov
    %input#sidebar-audio-title{type: 'text', name: 'sidebar[audio_title]', value: @sidebar.audio_title}
  %p
    %label{for: 'sidebar-audio-file'} Audio datoteka
    %input#sidebar-audio-file{type: 'text', name: 'sidebar[audio]', value: @sidebar.audio}
  %p
    - link_to 'Odustani', '/', class: 'cancel'
    %input.submit{type: 'submit', value: 'Spremi'}

- form_tag(action: request.path_info, method: 'post', enctype: 'multipart/form-data') do
  %p
    %input.file{type: 'file', name: 'audio'}
    %input{type: 'submit', value: 'Učitaj'}

- if @message
  %p.message= @message

- @sidebar.errors.each do |attr, msg|
  %p.error= msg
