- @page_title = "Dodavanje novog videa"

- form_tag(action: request.path_info, method: 'post') do
  %input{type: 'text', name: 'title'}
  %input{type: 'text', name: 'url'}
  %input{type: 'submit', value: 'Dodaj'}
  - link_to 'Odustani', '/video'
