- @page_title = "Dodavanje novog videa"

- form_tag(action: request.path_info, method: @video.id? ? 'put' : 'post') do
  %input{type: 'text', name: 'title', value: @video.title}
  %input{type: 'text', name: 'url', value: @video.url}
  %input{type: 'submit', value: 'Dodaj'}
  - link_to 'Odustani', '/video'
