article#clanovi section
  h2, ol, ol li
    display: inline
  h2
    +adjust-font-size-to(1em, 1)
    font-weight: bold
    &:after
      content: ':'
  ol
    +unstyled-list
  li
    &:after
      content: ', '
    &:last-child:after
      content: '.'

div#clanovi
  +clearfix
  section
    +trailer(0)
    width: 210px
    float: left
    margin-left: 27px
  ol
    +unstyled-list
    +trailer
  li
    +clearfix
    +rhythm(0,.5,.5,0)
  div
    +leader(.15)
    float: left
  .delete
    margin: 0
    font-size: 18px
    float: right

#aktivnosti ol
  list-style: disc
