@import editor

$ui-font: 'Modern Pictograms'
$prefix: 'modernpics/modernpics-webfont'

@include font-face($ui-font, font-files('#{$prefix}.woff', woff, '#{$prefix}.ttf', truetype, '#{$prefix}.svg', svg), '#{$prefix}.eot')

$ui-font: $ui-font, $sans-serif

.icon
  font-family: $ui-font
  font-size: 18px

form
  +pie-clearfix
  #main > &
    +trailer(0.5)
    &:last-child
      +trailer(0)

label
  color: lighten($text, 20%)
  &:hover
    cursor: pointer

input[type='text'], input[type='password'], select
  margin: 0

input, select
  font: $base-font-size $sans-serif
  line-height: rhythm()

input
  &[type='text'], &[type='password']
    +trailer(0.5)
    +text-field
    width: 400px

select
  +trailer(.5)
  +text-field
  width: auto

.error
  +trailer
  +rhythm-borders
  background: hsl(0,80%,95%)
  @include border-radius
  border-color: hsl(0,50%,80%)
  color: hsl(0,50%,50%)

.new, input[type='submit'], .cancel
  +button

.new
  +trailer

input[type='submit'], .cancel
  +leader(.5)

.edit, .delete
  +subtle

#gollum-editor
  +trailer
  font-size: 11px

#gollum-editor-cancel
  @extend #gollum-editor-preview

div#clanovi
  +clearfix
  section
    +trailer(0)
    width: 210px
    float: left
    margin-left: 27px
  ol
    +unstyled-list
    +trailer
  li
    +clearfix
    +rhythm(0,.5,.5,0)
  div
    +leader(.15)
    float: left
  .delete
    margin: 0
    font-size: 18px
    float: right
