@import editor

$ui-font: 'Modern Pictograms'
$prefix: 'modernpics/modernpics-webfont'

@include font-face($ui-font, font-files('#{$prefix}.woff', woff, '#{$prefix}.ttf', truetype, '#{$prefix}.svg', svg), '#{$prefix}.eot')

$ui-font: $ui-font, $sans-serif

.icon
  font-family: $ui-font
  font-size: 18px

.preloader
  $img: 'preloader.gif'
  +inline-block
  width: image-width($img)
  height: image-height($img)
  margin-left: 10px
  background: image-url($img)

form
  +pie-clearfix
  #main > &
    +trailer(0.5)
    &:last-child
      +trailer(0)

.invisible
  +opacity(0)
  position: absolute
  z-index: -1

.field
  +trailer(0.5)
  position: relative

label
  color: lighten($text, 20%)
  &:hover
    cursor: pointer

input[type='text'], input[type='password'], select
  margin: 0

input, select
  font: $base-font-size $sans-serif
  line-height: rhythm()

input
  &[type='text'], &[type='password']
    +text-field
    width: 400px

select
  +trailer(.5)
  +text-field
  width: auto

.fakefile input[type='text']
  +text-field
  +inline-block
  margin: 0 5px 0 0
  &:hover
    cursor: pointer
    border-color: darken(white, 35%)

.success
  $hue: 120
  +trailer
  +rhythm-borders
  background: hsl($hue,80%,95%)
  @include border-radius
  border-color: hsl($hue,50%,80%)
  color: hsl($hue,50%,50%)

.error
  $hue: 0
  +trailer
  +rhythm-borders
  background: hsl($hue,80%,95%)
  @include border-radius
  border-color: hsl($hue,50%,80%)
  color: hsl($hue,50%,50%)

.new, input[type='submit'], .cancel, input[type='button']
  +button

.new
  +trailer

input[type='submit'], .cancel
  +leader(.5)

.edit, .delete
  +subtle

.upload
  +rhythm(0,.5,.5,0)
  display: block

#gollum-editor
  +trailer
  padding: 1em
  font-size: 11px

  #gollum-editor-function-bar
    @each $f in code, hr, h1, h2, h3, image
      #function-#{$f}
        display: none

#gollum-editor-help-wrapper
  position: relative
  z-index: 1

#gollum-editor-cancel
  @extend #gollum-editor-preview

div#clanovi
  +clearfix
  section
    +trailer(0)
    width: 210px
    float: left
    margin-left: 27px
  ol
    +unstyled-list
    +trailer
  li
    +clearfix
    +rhythm(0,.5,.5,0)
  div
    +leader(.15)
    float: left
  .delete
    margin: 0
    font-size: 18px
    float: right

#video a
  +leader(.5)
