.upload
  +rhythm(0,.5,.5,0)
  display: block

.fakefile input[type='text']
  +text-field
  +inline-block
  width: 200px
  margin: 0 5px 0 0
  &:hover
    cursor: pointer
    border-color: darken(white, 35%)
