.upload
  +rhythm(0,.5,.5,0)
  display: block

.uploaded
  +leader(2)
  $b1: 2px solid darken(white, 30%)
  $b2: 1px solid darken(white, 10%)
  caption
    font-size: 22px
    font-family: $serif
    +trailer(.5)
  th, td
    padding: rhythm(.5)
    border: $b2
  th
    font-weight: bold
    border-right: $b1
  td
    color: lighten($text, 20%)

.fakefile input[type='text']
  +text-field
  +inline-block
  width: 200px
  margin: 0 5px 0 0
  &:hover
    cursor: pointer
    border-color: darken(white, 35%)
