+establish-baseline
+all-icon-sprites

body
  +padding-leader
  width: $site
  margin: 0 auto
  font-family: $sans-serif
  color: $text

h1, h2
  font-family: $serif

h1
  +adjust-font-size-to(42px, 3)

h2
  font-size: 25px

h1, h2, section, p
  +trailer

a
  +hover-link
  color: $link

strong
  font-weight: bold

em
  font-style: italic

hr
  +trailer(0.5)
  width: 400px
  border: 0
  border-top: 1px solid
  border-color: darken(white, 30%)

ol, ul
  +trailer
  padding-left: rhythm(2)

ol
  list-style: decimal

ul
  list-style: disc

blockquote
  +trailer
  float: right
  width: 400px
  margin: rhythm()
  padding-left: 20px
  quotes: "\201C""\201D"
  color: lighten($text, 30%)
  font:
    family: $serif
    size: 16px
    style: italic
  line-height: rhythm(1.25)
  &:before
    position: relative
    left: -40px
    top: 70px
    z-index: -1
    content: open-quote
    color: darken(white, 5%)
    display: block
    font-size: 200px
  p
    &, #gollum-editor-help-content &
      margin: 0

img
  outline: 1px solid
  outline-color: $text

.img
  display: block

.inner
  +clearfix

.center
  +trailer
  text-align: center

.pagination
  +trailer(2)
  text-align: center
  *
    +inline-block
    +box-sizing(border-box)
    padding: rhythm(.2)
    width: 25px
    text-align: center
    +border-radius
  a
    border: 1px solid rgba(black, .1)
    color: lighten($text, 25%)
    &:hover
      text-decoration: none
      border-color: rgba(black, .3)
      color: $link
  em
    font-style: normal
  .previous_page, .next_page
    padding-left: 7px
    padding-right: 7px
    width: auto
  .current
    color: $text
    background-color: rgba(black, .05)
  .gap
    color: rgba(black, .5)
  .disabled
    border: 1px solid white
    color: rgba(black, .3)

#header
  +trailer(2)
  .inner
    +clearfix
    padding: 0 rhythm(2)
  img
    outline: none

#logo
  +leader(2)
  float: left

#photo
  float: right

nav
  +clearfix
  +rhythm-borders
  background-color: darken(white, 3%)
  border-color: darken(white, 20%)
  ol
    +unstyled-list

#pages
  +clearfix
  float: left

  li
    float: left
    margin: 0 rhythm(0.5)

  a
    display: block
    padding: 0 rhythm(0.5)
    +link-colors(lighten($text, 20%), $link)
    &.current
      color: $link
    font-family: $serif
    text-transform: uppercase
    &:hover
      text-decoration: none

#log
  float: right
  padding-right: rhythm(.5)

#main
  +padding-trailer
  +pie-clearfix

article
  +trailer
  +pie-clearfix

  .img
    &:nth-of-type(2n+1)
      float: left
      margin: rhythm(0.5) rhythm() 0 1px

    &:nth-of-type(2n)
      float: right
      margin: rhythm(0.5) 1px 0 rhythm(0.5)

#top
  text-align: center

footer
  +clearfix
  +trailer
  +rhythm-borders
  background-color: darken(white, 3%)
  border-color: darken(white, 20%)
  font-family: $serif
  p
    +trailer(0)

#contact
  float: left
  +leader(0.5)
  +trailer(0)
  font-size: 18px

#facebook
  $par: 230px
  $url: 'icon/fb.png'
  $icon: image-width($url)
  +clearfix
  +trailer(0)
  float: right
  width: $par + $icon + 18px
  font-size: 17px
  p
    float: left
    width: $par
    &:after
      content: ':'
  a
    display: block
    float: right
    width: $icon
    height: image-height($url)
    border: 1px solid
    color: lighten(black, 40%)
    &:hover
      color: #344466

.label
  font-weight: bold
  &:after
    content: ':'
