/* admin.css

@-webkit-keyframes highlight
  from
    outline-color: darken(white, 8%)
    background: darken(white, 5%)
  to
    outline-color: white
    background: white

@-moz-keyframes highlight
  from
    outline-color: darken(white, 8%)
    background: darken(white, 5%)
  to
    outline-color: white
    background: white

nav

  .add
    +trailer(0)

    a
      margin-right: 0
      padding-top: 0
      padding-bottom: 0
      +subtle

  .controls
    +trailer(0)

  .add, .controls
    float: right

form
  +clearfix

  input
    font: $base-font-size $sans-serif
    line-height: rhythm()

    &[type='text'], &[type='password']
      +trailer(0.5)
      +form-text

.error
  +leader
  color: red

#main > form
  +trailer(0.5)
  &:last-child
    +trailer(0)

  p
    +clearfix
    +trailer(0.5)
    width: 340px

    label
      display: block
      width: 110px
      float: left
      line-height: rhythm(2)
      &:after
        content: ':'
      &:hover
        pointer: cursor

    input

      &[type='text'], &[type='password']
        +trailer(0)
        width: 200px
        float: right

      &[type='submit']
        float: right

    .submit, .cancel
      +button(right)

    .file
      width: 250px
      float: left

  &.confirm p
    width: 120px

.center
  +horizontally-center

#videos

  .center
    +leader(0.5)

  .controls
    +trailer(0)

  form.video
    text-align: left

    .submit, .cancel
      +button

#gollum-editor
  +trailer
  font-size: 11px

  #gollum-editor-cancel
    @extend #gollum-editor-preview

.add
  +trailer
  +clearfix

  a
    +button
    text-align: center

.controls
  +trailer
  +pie-clearfix
  height: rhythm()
  padding-left: rhythm(0)
  list-style: none

  li
    float: left
    margin-right: rhythm(0.5)

  .edit, .delete input[type='submit']
    +subtle

.confirm
  +trailer
  +clearfix

  article &
    +leader(-0.5)
    +trailer(0.5)
    clear: both

  ol
    +pie-clearfix
    +trailer(0)
    padding-left: rhythm(0)
    list-style: none

    li
      float: left

  p
    +trailer(0)
    $height: rhythm(2)
    margin-right: rhythm(0.5)
    height: $height
    line-height: $height

  .submit, .cancel
    +button

.order
  +padding-leader(0.5)
  +clearfix
  float: left
  margin-left: rhythm(-2)

  article:first-of-type & .up,
  article:last-of-type & .down
    display: none

  input[type='submit']
    +subtle

div#members
  +trailer(2)
  +clearfix

  section
    +trailer(0)
    width: 210px
    float: left
    margin-left: rhythm(1.5)

    h2, & > ol > li
      padding-left: rhythm(0.5)

    ol div
      float: left

    .controls
      +trailer(0)
      float: right

    .recent
      outline: 1px solid darken(white, 8%)
      background: darken(white, 5%)
      -webkit-animation: highlight 4s forwards
      -moz-animation: highlight 4s forwards

    .confirm
      +trailer(0)

    form.member
      +leader(0.5)

      input[type='text']
        width: 90%

      .submit, .cancel
        +button

    & > ol
      padding: 0

      & > li
        +clearfix
        +rhythm(0, 0.5, 0.5, 0)

    .add
      +leader
      +trailer(0)
      margin-left: rhythm(0.5)
