/* colors.css

$text: lighten(black, 30%)
$link: #c70000

+all-icon-sprites

body
  color: $text

a
  color: $link

.error
  color: red

nav
  background-color: darken(white, 3%)
  border-color: darken(white, 20%)

  a
    +link-colors(lighten($text, 20%), $link)
    &.current
      color: $link

img
  outline-color: $text

#intro
  background-color: darken(white, 2%)
  border-color: darken(white, 10%)

#news article
  border-color: darken(white, 15%)

time
  color: lighten($text, 30%)

footer
  background-color: darken(white, 3%)
  border-color: darken(white, 20%)

#facebook a
  color: lighten(black, 40%)
  &:hover
    color: #344466
