+establish-baseline

body
  // +baseline-grid-background($base-line-height, darken(white, 30%))

.audio #audio object, .no-audio audio
  display: none

#wrapper
  $wrapper-width: 960px

  +padding-leader
  width: $wrapper-width
  margin: 0 auto

  img
    display: block

  header .inner
    +clearfix
    padding: 0 rhythm(2)

    #logo
      +leader(2)
      float: left

    #photo
      float: right

  nav
    +clearfix
    +trailer
    +rhythm-borders

    ol
      +clearfix

      li
        float: left
        margin: 0 rhythm(0.5)

        a
          display: block
          padding: 0 rhythm(0.5)

  .spacer
    +trailer(3)

  form

    input
      &[type='text'], &[type='password']
        +form-text

    textarea
      +form-text
      max-width: $wrapper-width

    .submit
      +clearfix

      input
        +button(right, false)
        float: right

  #login table
    height: rhythm(8)
    width: 320px

    .username, .password
      input
        width: 91%

  .post
    +clearfix

    input[type='text'], textarea
      +trailer(0.5)

    input

      &[type='text']
        width: 300px

      &[type='submit']
        +button(left, false)

  .controls
    +trailer
    height: rhythm()

    form
      display: inline

      input
        border: 0

  .add
    +trailer
    +button

  #main
    +padding-trailer

    article
      +trailer

      time + *
        clear: both

    #intro
      $intro-padding: 1.5
      $aside-width: 300px

      +rhythm-borders(1px, $intro-padding)

      .inner
        +clearfix

      .main
        +trailer(0)
        float: left
        width: $wrapper-width - (2*rhythm($intro-padding)) - $aside-width - rhythm(3)

        img
          +leader(0.5)

      aside
        float: right
        width: $aside-width

        section
          +trailer
          &:last-child
            +trailer(0)

    #news article
      +trailer(1.5)
      +trailing-border(1px, 0.5, $base-font-size, dotted)
      &:last-of-type
        +trailing-border(0, 0)
        +trailer(2.0)

      h1
        float: left

      time
        float: right

    .members
      +trailer

      li
        display: inline

    img
      outline: 1px solid
      float: left
      margin: rhythm(0.5) rhythm() 0 0

    #photos

      li
        +trailer(2)

        // @for $i from 1 through 19
        //   &:nth-child(#{$i})
        //     height: floor(image-height("galerija/#{$i}.jpg")/18) * 18

      img
        float: none
        display: inline
        max-height: 100%

    #videos li
      +trailer(2)

  footer
    +clearfix
    +trailer
    +rhythm-borders

    #contact
      float: left

    #facebook
      $text-width: 230px
      $icon-url: 'icon/fb.png'
      $icon-width: image-width($icon-url)

      +clearfix
      float: right
      width: 280px
      width: $text-width + $icon-width + 18px

      p
        float: left
        width: $text-width

      a
        display: block
        float: right
        width: $icon-width
        height: image-height($icon-url)
        border: 1px solid
