$serif: Georgia, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', Times, serif
$sans-serif: Verdana, 'Helvetica Neue', Helvetica, Geneva, sans-serif

body
  font-family: $sans-serif

#{headings()}
  font-family: $serif

#wrapper

  a
    +hover-link

  nav ol li a
    font-family: $serif
    text-transform: uppercase
    &:hover
      text-decoration: none

  form
    input, textarea
      font: $base-font-size $sans-serif
      line-height: $base-line-height

  #log
    text-align: right

  #login label:after
    content: ':'

  .controls
    input[type='submit'], .edit
      font-weight: bold
      color: darken(white, 25%)
      &:hover
        color: darken(white, 40%)
        text-decoration: none

  .add
    text-align: center
    &:hover
      text-decoration: none

  #main

    p
      +trailer

    h1
      +adjust-font-size-to(3em, 3)
      +trailer

    article

      em, strong
        font-weight: bold

    #intro
      +trailer

      .main p:last-child
        +trailer(0)

      aside section h2
        +trailer
        font-size: 1.5em
        &:after
          content: ':'

    #news article

      h1
        +trailer
        +adjust-font-size-to(1.75em, 2)

      time
        font-size: 0.8

    #aktivnosti

      .inner
        width: 750px
        padding-left: rhythm()

      section
        +trailer

        h1
          +trailer
          +adjust-font-size-to(1.5em, 1)

        ol
          padding-left: rhythm(2)
          list-style: disc outside

          li
            +trailer

    #photos
      text-align: center

    #videos
      text-align: center

      h1
        +trailer
        font-size: 2em

    .arrow:hover
      text-decoration: none

    #top
      text-align: center

    .members li
      &:after
        content: ', '
      &:last-child:after
        content: '.'

  footer
    font-family: $serif

    #contact
      +leader(0.5)
      font-size: 1.25em

      .label
        font-weight: bold
        &:after
          content: ':'

    #facebook
      font-size: 1.2em

      p:after
        content: ':'

#gollum-editor
  font-size: 11px
  #gollum-editor-preview
    display: inline-block
    margin-left: 1em
